:root {
  --nf_main_color: #153065;
}

.dark {
  --nf_main_color: #ededed;
}

.nf_wrapper {
  height: 600px;
  width: 950px;
  margin-top: 138px;

  display: flex;
  align-items: center;
  flex-direction: column;

  background: var(--main-background);
  border-radius: 30px;
}

.nf_title {
  position: relative;
  width: 100%;
  height: 86px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px 30px 0 0;

  color: var(--white);
  background: var(--secondary);
}

.nf_title h2 {
  font-size: 30px;
}

.close_icon svg {
  position: absolute;

  right: 20px;

  width: 32px;
  height: 32px;

  transform: translateY(-50%);
}

.nf_form {
  width: 100%;
  padding: 30px 52px;
}

.form_wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.background_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 144px;
  height: 44px;

  background: #9eb0f1;

  border-radius: 22px;
}

p.mt-bd {
  font-size: 26px;
}

.nf_family_info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

.nf_family_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nf_family_wrapper .mt-bd {
  font-size: 26px;
  color: var(--nf_main_color);
}

.nf_form input[type="text"],
.nf_form input[type="tel"] {
  width: 422px;
  height: 40px;

  text-align: left;
  box-sizing: border-box;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 32px;

  background: #fff;
  border-radius: 20px;
  outline: 1px solid #868686;
}

.field_family_name {
  position: relative;
}

.family_name_error {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -100%);
  text-align: center;
}

.nf_form input::placeholder {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 25px;
  transform: translateY(3px);
}

.section_title {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  font-size: 30px;
  color: var(--nf_main_color);
  justify-content: space-between;
  align-items: center;
}

.add_button {
  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

.add_button svg {
  width: 30px;
  height: 30px;
}

select {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;

  font-family: "Montserrat";
  font-weight: 700;
  font-size: 25px;

  border: 1px #868686 solid;
  border-radius: 22px;
  color: #868686;
  background: var(--white);
  outline: #868686;

  appearance: none; /* убирает дефолтную стрелку */
  -webkit-appearance: none; /* для Safari */
  -moz-appearance: none;
}

form:focus {
  border: 1px #868686 solid;
}

.error_text {
  color: var(--error-color);
}
