:root {
  --nf_main_color: #153065;
}

.dark {
  --nf_main_color: #ededed;
}

.nf_wrapper {
  max-height: 75dvh;
  width: 950px;

  display: flex;
  align-items: center;
  flex-direction: column;

  overflow: hidden;

  background: var(--main-background);
  border-radius: 30px;
}

.nf_title {
  position: relative;
  width: 100%;
  height: 86px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px 30px 0 0;

  color: var(--white);
  background: var(--secondary);
}

.nf_title h2 {
  font-size: 30px;
}

.close_icon svg {
  position: absolute;
  right: 20px;

  width: 32px;
  height: 32px;

  transform: translateY(-50%);

  cursor: pointer;
}

.nf_form {
  width: 100%;
  padding: 30px 52px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) transparent;

  width: 100%;
}

.nf_form::-webkit-scrollbar {
  width: 10px;
}
.nf_form::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}
.nf_form::-webkit-scrollbar-track {
  background: transparent;
}

.nf_form p.mt-bd {
  font-size: 26px;
}

.nf_family_info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nf_family_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nf_family_wrapper .mt-bd {
  font-size: 26px;
  color: var(--nf_main_color);
}

.nf_form input {
  width: 422px;
  height: 40px;

  text-align: left;
  box-sizing: border-box;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 32px;

  background: #fff;
  border-radius: 20px;
  outline: 1px solid #868686;
}

.field_family_name {
  position: relative;
}

.family_name_error {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -100%);
  text-align: center;
}

.nf_form input::placeholder {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 25px;
  transform: translateY(3px);
}

.add_button {
  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

.add_button svg {
  width: 30px;
  height: 30px;
}

select {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;

  font-family: "Montserrat";
  font-weight: 700;
  font-size: 25px;

  border: 1px #868686 solid;
  border-radius: 22px;
  color: #868686;
  background: var(--white);
  outline: #868686;

  appearance: none; /* убирает дефолтную стрелку */
  -webkit-appearance: none; /* для Safari */
  -moz-appearance: none;
}

form:focus {
  border: 1px #868686 solid;
}

.error_text {
  color: var(--error-color);
  font-size: 14px;
}

.nf_submit_button {
  width: 234px;
  height: 36px;

  font-size: 22px;
  color: var(--white);

  margin: 0 0 0 100%;
  transform: translateX(-100%);

  background: var(--active-tab-color);
  border-radius: 15px;
}

.nf_submit_button:disabled {
  background: #868686;
}

.remove_button {
  cursor: pointer;
}

.remove_button svg {
  width: 40px;
  height: 40px;
}

.select_wrapper {
  position: relative;

  height: 40px;
  width: 186px;
}

.svg_drop_down {
  position: absolute;
  width: 14px;
  height: 7px;
  right: 15px;
  top: calc(50% + 2px);

  transform: translateY(-100%);

  color: #868686;
}

.nf_adult input[type="text"],
.nf_adult input[type="tel"],
input.child_name {
  width: 366px;
}

.adults_add_wrapper,
.children_add_wrapper {
  display: none;
}

.adults_add_wrapper:has(*),
.children_add_wrapper:has(*) {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

select,
.field_name,
.field_phone {
  position: relative;
}

.name_error,
.phone_error,
.role_error,
.children_role_error {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -100%);
  text-align: center;
}
