@import "tailwindcss";

:root {
  --background: #fff;
  --secondary: #5075e5;
  --white: #fff;
  --background-primary: rgba(80, 117, 229, 0.42);
  --background-secondary: #fff;

  --table-bg: #bac8fc;
  --table-item-bg: rgba(80, 117, 229, 0.5);

  --main-background: linear-gradient(
    to top right,
    rgba(220, 209, 255, 0.85),
    rgba(199, 230, 255, 0.85),
    rgba(197, 255, 228, 0.85)
  );
}

.dark {
  --background: #112339;
  --background-primary: #20344c;
  --background-secondary: #20344c;

  --main-background: linear-gradient(
    to top right,
    rgb(6, 56, 67),
    rgb(5, 14, 44)
  );
}

body {
  min-height: 100dvh;
  width: 100%;
  background: var(--main-background);
}

body .dark {
  background: var(--main-background);
  min-height: 100dvh;
}
