@import "tailwindcss";

:root {
  --logo-color: #3a56ab;
  --main-background: linear-gradient(
    to top right,
    rgba(220, 209, 255, 0.45),
    rgba(199, 230, 255, 0.45),
    rgba(197, 255, 228, 0.45)
  );
}

.dark {
  --logo-color: #fff;
  --main-background: linear-gradient(
    to top right,
    rgb(6, 56, 67),
    rgb(5, 14, 44)
  );
}

body {
  min-height: 100dvh;
  width: 100%;
  background: var(--main-background);
}

body .dark {
  background: var(--main-background);
  min-height: 100dvh;
}
