table {
  width: 100%;
  border-collapse: collapse;
}

caption {
  font-size: 26px;
  font-weight: bold;
  margin: 30px 0;
}

thead {
  font-weight: 500;
}

th,
td {
  font-size: 16px;
  padding: 18px 20px;
  text-align: center;
  border: 1px solid var(--border-color);
}

tr:hover {
  background-color: var(--main-color);
}
