.nf_child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date_wrapper {
  width: 186px;
  height: 40px;

  position: relative;
}

.date_wrapper input[type="text"] {
  width: 100%;
  padding: 0 15px;
  text-transform: uppercase;
}

.date_wrapper input[type="text"]::placeholder {
  text-align: center;
}

.field_name {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}
